<p><a href="<%= shortUrl %>" title="<%= longUrl %>"><%= shortUrlHost %>/<strong><%= shortUrlKey %></strong></a> has been hit <%= nbHits %> times.
<p><a href="http://<%= api_host %>/<%= shortUrlKey %>++" title="More statistics">Access detailed statistics</a>
 
